<h1>Detalhes</h1>

<p *ngIf="!details"><em>Loading...</em></p>

<ul *ngIf="details">
    <li><strong>Id: </strong>{{ details.id }}</li>
    <li><strong>Login: </strong>{{ details.login }}</li>
    <li><strong>Perfil: </strong><a href="{{ details.html_url }}">{{ details.html_url }}</a></li>
    <li><strong>Data de cadastro:</strong>{{ details.created_at | date:'dd/MM/yyyy'}}</li>
    <li><strong>Repos: </strong>{{ details.public_repos }}</li>
</ul>

<p *ngIf="!repos"><em>Loading...</em></p>
<table class='table' *ngIf="repos">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let repo of repos">
            <td>{{ repo.id }}</td>
            <td>{{ repo.name }}</td>
            <td><a href="{{ repo.html_url }}">{{ repo.html_url }}</a></td>
        </tr>
    </tbody>
</table>
