<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Perfil</th>
            <th>Data de cadastro</th>
            <th>Repos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.id }}</td>
            <td>{{ forecast.login }}</td>
            <td><a href="{{ forecast.html_url }}">{{ forecast.html_url }}</a></td>
            <td>{{ forecast.created_at | date:'dd/MM/yyyy'}}</td>
            <td><a href="repos/{{ forecast.login }}">{{ forecast.public_repos }}</a></td>
        </tr>
    </tbody>
</table>
